{
  "presets": ["save"],
  "plugins": [
    "typecheck",
    "react-hot-loader/babel",
    "lodash"
  ],
  "env": {
    "test": {
      "plugins": [
        [ "webpack-loaders", { "config": "${CONFIG}" } ],
        [ "resolver", { "resolveDirs": [ "./" ] } ],
        [ "istanbul" ]
      ]
    }
  }
}
